body{
    text-align: center;
    background-color: black;
}

#titulo{
    background-image: url("fundo.jpg");
    text-align: left;
    color: white;
    font-size:35px;     
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0% 0%;
    background-size: 100% 100% ;
    border: solid 5px;
    border-radius: 15px;
    padding: 80px;
    margin: 35px;
    margin-top: 10px;
    
}

.container{
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#humor{
    color: red;
    font-size:35px;
    padding: 5px;
    border: 5px solid blue;
    background-color: white;
    border-radius: 15px;
    margin: 35px;
    
}